<div class="container">
    <div class="table-responcive">
        <table class="table">
            <thead>
                <h1>Funcionarios</h1>
            </thead>
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">UF</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Bairro</th>
                    <th class="col-1" scope="col"><button (click)="add()" title="novo" class="btn btn-dark">
                            <i class="fas fa-plus"></i> Funcionario
                        </button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let funcionario of funcionarios">
                    <td>{{funcionario.nome}}</td>
                    <td>{{funcionario.cpf}}</td>
                    <td>{{funcionario.dataNascimento | date:'dd/MM/yyyy'}}</td>
                    <td>{{funcionario.nomeEmpresa}}</td>
                    <td>{{funcionario.uf}}</td>
                    <td>{{funcionario.cidade}}</td>
                    <td>{{funcionario.bairro}}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-2">
                                <button (click)="editar(funcionario)" title="Editar" class="btn btn-secondary">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button (click)="deletar(funcionario)" title="excluir" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<funcionarioForm *ngIf="oculto" #funcionarioForm></funcionarioForm>