<div class="container">
        <form class="form-group">
                <div class="row">
                        <div [hidden]="oculto == false">
                                <label>id:</label>
                                <input type="number" class="form-control"
                                        [(ngModel)]="funcionario.codFunc" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-md-6">
                                <label for="nome">Nome:</label>
                                <input type="text" class="form-control" [(ngModel)]="funcionario.nomeFunc"
                                        [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-md-6">
                                <label for="data">Data de Nascimento:</label>
                                <input id="data" type="date" [(ngModel)]="funcionario.dataNascimentoFunc"
                                        [ngModelOptions]="{standalone: true}" class="form-control">
                        </div>
                        <div class="col-md-6">
                                <label for="cpf">CPF:</label>
                                <input  id="cpf" maxlength="15" type="text" class="form-control"
                                        [(ngModel)]="funcionario.cpfFunc" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-md-6">
                                <label for="empresas">Empresa</label>
                                <select [(ngModel)]="funcionario.codEmpresa" [ngModelOptions]="{standalone: true}"  class="form-control" id="empresas" >
                                        <option selected disabled>Escolha sua empresa</option>
                                        <option id="empresas"  *ngFor="let empresa of empresas" value="{{empresa.cod}}">{{empresa.nome}}
                                        </option>
                                </select>
                        </div>

                        <div class="col align-self-end" style="margin-top: 20px;">
                                <button type="button" class="btn btn-secondary"
                                        (click)="enviar(funcionario)">Enviar</button>
                        </div>
                </div>
        </form>
</div>
